@media (max-width: 1024px) {
    .edit-delete-container {
        position: absolute;
        top: 0 !important;
        right: 1rem;
        display: flex;
        gap: 1rem;
        width: 20%;
    }

    .house-detail-container {
        border-top-left-radius: 12.5%;
        border-top-right-radius: 12.5%;
        padding: 3rem;
        z-index: 1;
        margin-top: -2rem;
    }

    .top-nav-linkwrapper {
        display: flex;
        position: absolute;
        align-items: left;
        padding: 1rem;
    }

    .desktop-return
    {
        display: none !important;
    }

    .desktop-delete
    {
        display: none;
    }

    .mobile-delete
    {
        display: block;
    }
    
    .mobile-arrow
    {
        color: white;
    }

    .noresult-img{
        margin-top: 8rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-left: 2rem;
    }
}