@media (min-width: 1025px) {
    .edit-delete-container {
        position: absolute;
        top: 0 !important;
        right: 1rem;
        display: flex;
        gap: 1rem;
        width: 10%;
    }

    .modal-content {
        padding: 16px;
        width: 25% !important;
      }

    .desktop-delete
    {
        display: block;
        width: 20% !important;
    }

    .mobile-delete
    {
        display: block;
    }
}