@import './custom';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $danger;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem; // 32px / 16px (default root font size)
  line-height: 1.2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.375rem; // 22px / 16px
  line-height: 1.2;
}

h3,
.desktop-header-inactive-menu,
.empty-state-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem; // 18px / 16px
  line-height: 1.2;
}

/* Button and Tabs */
.button,
.tabs {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem; // 18px / 16px
  line-height: 1.2;
}

/* Back Button Label */
.back-button-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem; // 16px / 16px
  line-height: 1.2;
}

/* Input Field Title */
.input-field-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.875rem; // 14px / 16px
  line-height: 1.2;
}

/* Error Message */
.error-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.875rem; // 14px / 16px
  line-height: 1.2;
}

/* Listing Information */
.listing-information {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem; // 16px / 16px
  line-height: 1.2;
}

/* Body Text */
body,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.125rem; // 18px / 16px
  line-height: 1.5;
}

/* Input Field */
.input-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem; // 14px / 16px
  line-height: 1.2;
}

/* Hyperlinks */
a {
  color: $success;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.image-icon {
  width: 1rem;
}

.bold {
  font-weight: bolder;
}

.image-upload-container {
  border-style: dashed solid;
  border: dashed 0.5rem $info;
  padding: 5rem;
  position: relative;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.filter-button {
  padding-top: 0;
  padding-bottom: 0;
}

.pagecontainer{
  margin-bottom: 6rem;
}