@import './custom';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $danger;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.2;
}

h3,
.desktop-header-inactive-menu,
.empty-state-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}

.button,
.tabs {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}

.back-button-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
}

.input-field-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
}

.error-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.2;
}

.listing-information {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

body,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.input-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
}

a {
  color: $success;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.image-icon {
  width: 1rem;
}

.bold {
  font-weight: bolder;
}

.image-upload-container {
  border: 2px dashed #ccc;
  position: relative;
  height: 10rem !important;
  width: 10rem !important;
  padding: 10rem;
}


.adress {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.125rem; // 18px / 16px
  line-height: 1.5;
  color: $dark;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.125rem; // 18px / 16px
  color: $dark;
}

.zip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2rem; // 18px / 16px
  color: $secondary-color;
}

.image-preview-container {
  position: relative;
  height: 10rem !important;
  width: 10rem !important;
  border-radius: 12%;
  #imgPreview
  {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.filter-button {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .pagecontainer {
    padding-bottom: 5rem;
  }
}

// for cutting off the smaller image previews

.house-image-list
{
  aspect-ratio: 1 / 1;
  border-radius: 7%;
}