.inputContainer
{
    width: 100%;
    text-align: left;
}

.edit-background-image
{
    background-image: url("../images/img_background@3x.png");
    background-size: cover;
    background-repeat: no-repeat;
}