@import './CreateListingStyle.scss';

@media (min-width: 1025px) {
    .form-wrapper
    {
        width: 25% !important;
        margin-left: 15rem !important;
        margin-top: 3rem !important;
    }

    .return-link-desktop
    {
        text-decoration: none
    }

    .return-link-mobile
    {
        display: none;
    }

}