@import '../../../global.scss';

.inputContainer
{
    width: 100%;
    text-align: left;
    input, select
    {
        padding: 0.7rem;
    }
    
}

.image-upload-container
{
    padding-left: 5rem;
    padding-bottom: 3.5rem !important;
    padding-right: 5rem;
    padding-top: 3.5rem !important;
    width: 40%;
}

.edit-background-image
{
    background-image: url("../../images/img_background@3x.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-mobile
{
    width: 100%;
}


