@import './CreateListingStyle.scss';

@media (min-width: 1025px) {
    .return-link-desktop
    {
        text-decoration: none
    }

    .return-link-mobile
    {
        display: none;
    }
    
    .form-label {
      font-size: 0.8em;
      font-weight: 700;
      color: $secondary;
    }
}