@import './ListViewStyling.scss';

/* Mobile-specific styles */
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 8px;
  }

  .adress {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem; // 18px / 16px
    line-height: 1.5;
    color: $dark;
  }

  .price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem; // 18px / 16px
    color: $dark;
  }

  .zip {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem; // 18px / 16px
    color: $secondary-color;
  }

  .icon-text{
    font-size: 1rem;
  }

  .filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .house {
    margin: 8px 0;
  }

  .modal-content {
    padding: 16px;
    width: 100%;
  }

  .filter-button-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .filter-button {
    padding: 0.5rem !important;
    width: 33%;
  }

  .list-heading {
    text-align: center;
  }

  #create-listing-link-mobile {
    color: $dark;
    width: 100%;
    i {
      font-size: 2rem;
    }
  }

  #create-listing-link-desktop {
    display: none;
  }

  .icon-wrapper {
    font-size: 0.8em;
  }

  .edit-delete-container {
    position: absolute;
    top: 0 !important;
    right: 1rem;
    display: flex;
    gap: 1rem;
    width: 30% !important;
  }

  .noresult-img
  {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    img
    {
      margin-bottom: 4rem;
    }
  }

  .form-label
  {
    font-weight: 300 !important;
  }
}
