@import './ListViewStyling.scss';

/* Desktop-specific styles */
@media (min-width: 1025px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    background-color: $background-white;
    margin-left: 10%;
  }

  .container-dekstop
  {
    width: 90% !important;
  }

  .zip {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.2rem; // 18px / 16px
    color: $secondary-color;
  }

  .icon-text{
    font-size: 0.5rem;
  }

  .filter {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }


  .house-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .house-image-list
  {
    aspect-ratio: 1 / 1;
    border-radius: 7%;
  }

  .description {
    text-align: left;
  }

  .house-details {
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }


  .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }

  .btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-danger:hover {
    background-color: #c82333;
  }

  .filter-button-container {
    display: flex;
    justify-content: end;
  }

  .filter-button {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    font-weight: bolder !important;
    margin-bottom: 1rem;
  }

  #create-listing-link-desktop {
    display: block;
    color: $light;
    height: 100%;
  }

  #create-listing-link-mobile {
    display: none !important;
  }

  .noresult-img
  {
    padding-top: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 10rem;
    img
    {
      margin-bottom: 3rem;
    }
  }

  .icon-text
  {
    font-size: 1em;
  }

  .edit-delete-container
  {
    position: absolute;
    top: 0 !important;
    right: 1rem;
    display: flex;
    gap: 1rem;
    width: 50%;
    padding: 1rem;
    margin-right: 1rem !important;
  }
  
  .list-heading {
    font-size: 1.5rem;
  }
}
